.root {
    -fx-accent:  #CFD8DC;
    -fx-focus-color: #B0BEC5;
}

.clickable:hover {
    -fx-background-color: #CFD8DC;
    -fx-background-radius: 10;
}

.clickable:disabled{
    -fx-opacity: 0.3;
}

.clickable:pressed {
    -fx-background-color: #B0BEC5;
    -fx-background-radius: 10;
}

.list-view .list-cell {
    -fx-padding: 5;
    -fx-start-margin: 5;
    -fx-end-margin: 5;
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-background-radius: 40;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #CFD8DC;

}

.list-view .list-cell:selected{
    -fx-background-color: #B0BEC5;
    -fx-text-fill: black;
}

.tree-table-row-cell{
    -fx-text-fill: black;
}

.tree-table-row-cell .unstaged {
    -fx-text-fill: #FF5252;
}
.tree-table-row-cell  .new {
    -fx-text-fill: #00E676;
}

.tree-table-row-cell .updated {
    -fx-text-fill: #00B0FF;
}
